@media screen and (min-width: 1024px) {
    body{
        margin: auto;
        text-align: start;
        font-size: 15px;
        background-image:url("bg.png");
        font-family: sans-serif;
        color: rosybrown;
        margin-left: 20%;
    }
    .sticky{
        position: fixed;
        overflow: hidden;
        background-color: rosybrown;
        top: 0;
        right: 0;
        width: 30%;
    }
    .sticky a{
        text-align: center;
        float: right;
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    .sticky a:hover{
        background: center;
        color: rosybrown;
    }
    .videoVor{
        width: 100%;
    }
    .flexbox{
        width: 66.5%;
        display: flex;
        background-color: rosybrown;
    }
    .flexbox > div{
        background-color: white;
        margin: 10px;
        padding: 10px;

    }
    #Vorstellung{
        text-align: center;
        margin-right: 1em;
        font-size: 10px;
    }
    .singapurvideo{
        width: 100%;
    }
    .IconInsta{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconFace{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconDis{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconDis:hover{
        opacity: .5;
    }
    .IconFace:hover{
        opacity: .5;
    }
    .IconInsta:hover{
        opacity: .5;
    }
    video{
        width: 50%;
        height: auto;
        text-align: center;
    }
    #foto{
        animation-duration: 5s;
        animation-name: Foto;
    }
    @keyframes Foto {
    from {
        margin-left: 100%;
        width: 100%;
    
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
    }
    .Überschrift2{
        transition: width 2s; 
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.1s;
    }
    
    .Überschrift2:hover{
        width: 300px;
        color: rgb(97, 45, 45);
    }
    
     .Hauptseite{
         font-weight: bolder;
         
    }
    .Boxmodel{
        background-color: rosybrown;
        width: 650px;
        color: white;
        border: 5px solid white;
        padding: 10px 20px 20px 10px;
        margin: 10px;
        margin-left: 0;
    }
    .content{
        padding: 16px;
    }
    #FormularV{
        padding:2px 10px 2px 5px;
        background-color: lightgray;
        color: white;
        width: 200px;
        text-align: left;
    
    }
    
    #FormularN{
        padding:2px 10px 2px 5px;
        background-color: lightgray;
        color: white;
        width: 200px;
        text-align: left;
      
    }
    
    #FormularE{
        padding:2px 10px 2px 5px;
        background-color: lightgray;
        color: white;
        width: 200px;
        text-align: left;
    }
    #Formular_Nachricht{
        padding: 2px 10px 0px 5px;
        color: white;
        background-color: lightgray;
        width: 400px;
        height: 50px;
    
        text-align: left;
    }
    #Datenschutz {
        padding: 5px;
        color: lightgray;
    
    }
    button{
        color: white;
        background: lightgray;
        padding: 5px;
           
    }
}
@media screen and (max-width: 600px){
    body{
        margin: auto;
        text-align: start;
        font-size: 10px;
        background-image:url("bg.png");
        font-family: sans-serif;
        color: lightskyblue;
    }
    .sticky {
        position: fixed;
        overflow: hidden;
        background-color: lightskyblue;
        top: 0;
        right: 0;
        width: 100%;

    }
    .sticky a{
        text-align: center;
        float: right;
        display: block;
        color: white;
        padding: 10px 10px;
        text-decoration: none;
    }
    .sticky a:hover{
        background: center;
        color: lightskyblue;
    }
    .videoVor{
        width: 250%;
    }
    .flexbox{
        width: 155%;
        display: flex;
        background-color: lightskyblue;
    }
    .flexbox > div{
        background-color: white;
        margin: 10px;
        padding: 10px;

    }
    #Vorstellung{
        text-align: center;
        margin-right: 1em;
        font-size: 10px;
    }
    .singapurvideo{
        width: 250%;
    }
    .IconInsta{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconFace{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconDis{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconDis:hover{
        opacity: .5;
    }
    .IconFace:hover{
        opacity: .5;
    }
    .IconInsta:hover{
        opacity: .5;
    }
    video{
        width: 25%;
        height: auto;
        text-align: center;
    }
    #foto{
        animation-duration: 5s;
        animation-name: Foto;
    }
    @keyframes Foto {
    from {
        margin-left: 100%;
        width: 100%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
    }
    .Überschrift2{
        transition: width 2s; 
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.1s;
    }
    
    .Überschrift2:hover{
        width: 300px;
        color: rgb(97, 45, 45);
    }
    
    .Hauptseite{
         font-weight: bolder;
     
    }
    .Boxmodel{
        background-color: lightskyblue;
        width: 250px;
        color: white;
        border: 5px solid white;
        padding: 10px 20px 20px 10px;
        margin: 10px;
    }
    .content{
        padding: 16px;
    }
    #FormularV{
        padding: 1px 5px 1px 2.5px;
        background-color: lightgray;
        color: white;
        width: 100px;
        text-align: left;
    }
    
    #FormularN{
        padding:1px 5px 1px 2.5px;
        background-color: lightgray;
        color: white;
        width: 100px;
        text-align: left;
    }
    
    #FormularE{
        padding:1px 5px 1px 2.5px;
        background-color: lightgray;
        color: white;
        width: 100px;
        text-align: left;
    }
    #Formular_Nachricht{
        padding: 1px 5px 0px 2.5px;
        color: white;
        background-color: lightgray;
        width: 200px;
        height: 50px;
        text-align: left;
   
    }
    #Datenschutz {
        padding: 5px;
        color: lightgray;
    
    }
    button{
        color: white;
        background: lightgray;
        padding: 2.5px;
           
    }
}
@media screen and (min-width: 600px) and (max-width: 1024px){
    body{
        margin: auto;
        text-align: start;
        font-size: 15px;
        background-image:url("bg.png");
        font-family: sans-serif;
        color: lightgreen;
        margin-left: 20%;
    }
    .sticky{
        position: fixed;
        overflow: hidden;
        background-color: lightgreen;
        top: 0;
        right: 0;
        width: 100%;
    }
    .sticky a{
        text-align: center;
        float: right;
        display: block;
        color: white;
        padding: 14px 16px;
        text-decoration: none;
    }
    
    .sticky a:hover{
        background: center;
        color: lightgreen;
    }
    .videoVor{
        width: 100%;
    }
    .flexbox{
        width: 104.5%;
        display: flex;
        background-color: lightgreen;
    }
    .flexbox > div{
        background-color: white;
        margin: 10px;
        padding: 10px;

    }
    #Vorstellung{
        text-align: center;
        margin-right: 1em;
        font-size: 10px;
    }
    .singapurvideo{
        width: 100%;
    }
    .IconInsta{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconFace{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconDis{
        width: 25px;
        height: auto;
        border-radius: 0;
        padding-left:  5px;
        padding-right: 5px;
    }
    .IconDis:hover{
        opacity: .5;
    }
    .IconFace:hover{
        opacity: .5;
    }
    .IconInsta:hover{
        opacity: .5;
    }
    video{
        width: 50%;
        height: auto;
        text-align: center;
    }
    #foto{
        animation-duration: 5s;
        animation-name: Foto;
    }
    @keyframes Foto {
    from {
        margin-left: 100%;
        width: 100%;
    
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
    }
    .Überschrift2{
        transition: width 2s; 
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0.1s;
    }
    
    .Überschrift2:hover{
        width: 300px;
        color: rgb(97, 45, 45);
    }
    
     .Hauptseite{
         font-weight: bolder;
         
    }
    .Boxmodel{
        background-color: lightgreen;
        width: 500px;
        color: white;
        border: 5px solid white;
        padding: 10px 20px 20px 10px;
        margin: 10px;
        margin-left: 0;
    }
    .content{
        padding: 16px;
    }
    #FormularV{
        padding:2px 10px 2px 5px;
        background-color: lightgray;
        color: white;
        width: 200px;
        text-align: left;
    
    }
    
    #FormularN{
        padding:2px 10px 2px 5px;
        background-color: lightgray;
        color: white;
        width: 200px;
        text-align: left;
      
    }
    
    #FormularE{
        padding:2px 10px 2px 5px;
        background-color: lightgray;
        color: white;
        width: 200px;
        text-align: left;
    }
    #Formular_Nachricht{
        padding: 2px 10px 0px 5px;
        color: white;
        background-color: lightgray;
        width: 400px;
        height: 50px;
    
        text-align: left;
    }
    #Datenschutz {
        padding: 5px;
        color: lightgray;
    
    }
    button{
        color: white;
        background: lightgray;
        padding: 5px;
           
    }
}