* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:rgb(139,90,43);
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: auto;
    text-align: start;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    justify-content: center;
    background-image:url("Dateien/Hintergrund.png");
    padding: 30px;
}
#login {
    width: 50%;
}
.container {
    position: relative;;
    max-width: 850px;
    width: 100%;
    background: white;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgb(139,90,43);
    perspective: 2700px;
}
.container .cover {
    position:absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}
.container .cover::before {
    content: '';
    position:absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.5%;
    z-index: 100;
}
.container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    opacity: 0.5;
    z-index: 100;
    transform: rotateY(180deg);
}
.container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
}
.container .cover img{
    position:absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 12;
    backface-visibility: hidden;
}
.container .cover .back .backImg{
    transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.container .cover .text {
    position: absolute;
    z-index: 111;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.cover .text .text-1, .cover .text .text-2 {
    font-size: 30px;
    font-weight: 600;
    height: 35%;
    color: rgb(139,90,43);
    text-align: center;
    backface-visibility: hidden;
}
.cover .back .text .text-1, .cover .back .text .text-2{
    transform: rotateY(180deg);
}
.cover .text .text-2{
    font-size: 15px;
    font-weight: 500;
}
.container form {
    height: 100%;
    width: 100%;
    background: white;
}
.container .form-content { /*formcontencontainer*/
    float: left;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin-bottom: 250px;
}
.form-content .login-form, .form-content .signup-form{ /*Loginkomplettcontainre*/
    width: calc(100%/2 - 25px);
}
.title{ /*Wortregistriene*/
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: rgb(139,90,43);
}

form .form-content .title:before { 
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: rgb(139,90,43);
}
form .signup-form .title:before { /*underlineR*/
    width: 20px;
}

form .form-content .input-boxes{ /*RegCotainer?*/
    
    margin-top: 30px;
    width: 350px;
}
form .form-content .input-box { /*Regbutton*/
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
#einloggen{
    color: rgb(139,90,43);
    background: lightgrey;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    border: rgb(139,90,43);
    border-radius: 50px;
}
#einloggen:hover {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgb(139,90,43);
    transition: all 0.3s ease;
}
#reg{
    color: rgb(139,90,43);
    background: lightgrey;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    border: rgb(139,90,43);
    border-radius: 50px;
}
#reg:hover{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgb(139,90,43);
    transition: all 0.3s ease;
}
.form-content .input-box input { /*Eingabefelder*/
    height: 100%;
    width: 100%;
    outline:none;
    border:none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgb(139,90,43);
    transition: all 0.3s ease;
}
.form-content .input-box input:focus, .form-content.input-box input:valid{
    border-color: rgb(139,90,43);
    
}
.form-content .input-box i {
    position:absolute;
    color: rgb(139,90,43);
    font-size: 17px;
}
form .form-content .text{
    font-size: 15px;
    font-weight: 500;
    color: rgb(139,90,43);
}
form .form-content .text a{
    text-decoration: none;
}
form .form-content .text a:hover{
    text-decoration: underline;
}
form .form-content .button{
    color: rgb(139,90,43);
}
form.form-content .button input{
    color: white;
    background: rgb(139,90,43);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
form .form-content .button input:hover{
    background: white;
}
form .form-content label{
    color: rgb(139,90,43);
    cursor: pointer;
}
form .form-content label:hover {
    text-decoration: underline;
}
form .form-content .login-text, form .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
}
.container .form-content2 { /*formcontencontainerAB HIER BEGINNT DIE REGISTRIERENSEITE*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    float: right;
}
.form-content2 .login-form, .form-content2 .signup-form{ /*Loginkomplettcontainre*/
    width: calc(100%/2 - 25px);
}
.title2{ /*Wortregistriene*/
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: rgb(139,90,43);
}

form .form-content2 .title2:before { /*underline1*/
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: rgb(139,90,43);
}
form .signup-form .title2:before { /*underlineR*/
    width: 20px;
}

form .form-content2 .input-boxes2{ /*RegCotainer?*/
    display: inline-block;
    margin-left: 50px;
    width: 350px;
}
form .form-content2 .input-box2 { /*Regbutton*/
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}
#einloggen{
    color: rgb(139,90,43);
    background: lightgrey;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    border: rgb(139,90,43);
    border-radius: 50px;
}
#einloggen:hover {
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgb(139,90,43);
    transition: all 0.3s ease;
}
#reg{
    color: rgb(139,90,43);
    background: lightgrey;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
    border: rgb(139,90,43);
    border-radius: 50px;
}
#reg:hover{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgb(139,90,43);
    transition: all 0.3s ease;
}
.form-content2 .input-box2 input { /*Eingabefelder*/
    height: 100%;
    width: 100%;
    outline:none;
    border:none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgb(139,90,43);
    transition: all 0.3s ease;
}
.form-content2 .input-box2 input:focus, .form-content2.input-box2 input:valid{
    border-color: rgb(139,90,43);
    
}
.form-content2 .input-box2 i {
    position:absolute;
    color: rgb(139,90,43);
    font-size: 17px;
}
form .form-content2 .text{
    font-size: 14px;
    font-weight: 500;
    color: rgb(139,90,43);
}
form .form-content2 .text a{
    text-decoration: none;
}
form .form-content2 .text a:hover{
    text-decoration: underline;
}
form .form-content2 .button{
    color: rgb(139,90,43);
}
form.form-content2 .button input{
    color: white;
    background: rgb(139,90,43);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}
form .form-content2 .button input:hover{
    background: white;
}
form .form-content2 label{
    color: rgb(139,90,43);
    cursor: pointer;
}
form .form-content2 label:hover {
    text-decoration: underline;
}
form .form-content2 .login-text2, form .form-content2 .sign-up-text{
    text-align: center;
    margin-top: 25px;
}
.container #flip {
    display: none;
}
@media (max-width: 730px) {
    .container .cover{
        display: none;
    }
.form-content .login-form, .form-content .signup-form{
    width: 100%;
    
}
.form-content .signup-form{
    display: none;
}
.container #flip:checked ~ form .signup-form{
    display: none;
}
.container #flip:checked ~ form .login-form{
    display: none;
    }
}
.logo {
    position:relative;
    margin-left: 145px;
    margin-right: 0;
    height: 65px;
    padding: 5px;

 }
.navbar {
    width: 100%;
    padding: 10px 10px 15px 0px;
    display: inline-block;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 25px;
    position: sticky;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(139,90,43);
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(139,90,43);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover:after {
    width: 100%;
}
.boxkomplett { /* rezepte*/
    font-size: 15px;
    background-color: white;
    padding: 10px;
    display: inline-block; 
    box-sizing: border-box;
    border-radius: 10px;
    align-content: center;
    margin: 15px;
}
#datenbank {
    height: 100px;
    position: absolute;
    margin: 10px;
    float: left;
    margin-top: 10%;
}
.containerrezpte{
    font-size: 15px;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    padding: 10px;

}
.rezeptListe {
    height: 300px;
    position: absolute;
    text-align:justify;
    margin: 15px;
    margin-bottom: -25%;
    float: left;
   
}
