* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

body {
    margin: auto;
    width: 800px;
}

.container {
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#newRec {
    background-color: rosybrown;
    color: white;
    margin: 0;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rosybrown;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#newRec:hover {
    cursor: pointer;
    box-shadow: 2px 3px 5p rgb(209, 178, 178);
}

#reset {
    background-color: rgb(209, 178, 178);
    color: white;
    margin: 0;
    width: 250px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgb(209, 178, 178);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#reset:hover {
    cursor: pointer;
    box-shadow: 2px 3px 5px rosybrown;
}

.recContainer {
    background-color: rosybrown;
    height: 70vh;
    position: relative;
}
