body{
    font-size: 15px;
    background-image:url("bg.png");
    font-family: sans-serif;
}
#sticky{
    overflow: hidden;

    background-color: rosybrown;  
}

#sticky a{
    float: right;
    position: sticky;
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
 }

img{

}

 .Hauptseite{
     font-weight: bolder;
     
 }

 .content{
    padding: 16px;
}


form{
   font-size: 15px;
    width:370px;
    color: white;
    padding: 10px;
    text-align: left;
    background-color: gray;
}
input{
   initial-letter:initial;
   resize: vertical;
    box-sizing: border-box;
    height: 20px;
    border: 2px solid white;
}

form p{
    font-size: 10px;
    color: lightgray;
    padding: auto;
   
}

