body{
    width: 800px;
    margin: auto;
    text-align: start;
    font-size: 15px;
    background-image:url("bg.png");
    font-family: sans-serif;
    color: rosybrown;
}
.IconInsta{
    width: 25px;
    height: auto;
    border-radius: 0;
    padding-left:  5px;
    padding-right: 5px;
}
.IconFace{
    width: 25px;
    height: auto;
    border-radius: 0;
    padding-left:  5px;
    padding-right: 5px;
}
.IconDis{
    width: 25px;
    height: auto;
    border-radius: 0;
    padding-left:  5px;
    padding-right: 5px;
}
.IconDis:hover{
    opacity: .5;
}
.IconFace:hover{
    opacity: .5;
}
.IconInsta:hover{
    opacity: .5;
}
video{
    width: 50%;
    height: auto;
    text-align: center;
}
.sticky{
    position: fixed;
    overflow: hidden;
    background-color: rosybrown;
    top: 0;
    right: 0;
    width: 30%;
}
.Boxmodel{
    background-color: rosybrown;
    width: 650px;
    color: white;
    border: 5px solid white;
    padding: 10px 20px 20px 10px;
    margin: 10px;
    margin-left: 0;
}
.sticky a{
    text-align: center;
    float: right;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky a:hover{
    background: center;
    color: rosybrown;
}
 .Hauptseite{
     font-weight: bolder;
     
}

 .content{
    padding: 16px;
}
#FormularV{
    padding:2px 10px 2px 5px;
    background-color: lightgray;
    color: white;
    width: 200px;
    text-align: left;

}

#FormularN{
    padding:2px 10px 2px 5px;
    background-color: lightgray;
    color: white;
    width: 200px;
    text-align: left;
  
}

#FormularE{
    padding:2px 10px 2px 5px;
    background-color: lightgray;
    color: white;
    width: 200px;
    text-align: left;
}
#Formular_Nachricht{
    padding: 2px 10px 0px 5px;
    color: white;
    background-color: lightgray;
    width: 400px;
    height: 50px;

    text-align: left;
}
#Datenschutz {
    padding: 5px;
    color: lightgray;

}
button{
    color: white;
    background: lightgray;
    padding: 5px;
       
}
