head{
    text-align: center;
}

body{
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    background-image:url("bg.png");
    font-family: sans-serif;
}

video{
    width: 50%;
    height: auto;
    text-align: center;
}
.sticky{
    position: fixed;
    overflow: hidden;
    background-color: rosybrown;
    top: 0;
    right: 0;
    width: 30%;
}

.sticky a{
    text-align: center;
    float: right;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky a:hover{
    background: center;
    color: rosybrown;
}
 .Hauptseite{
     font-weight: bolder;
     
}

 .content{
    padding: 16px;
}

.main{
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
}

form{
    background-color:gray;
    font-size: 15px;
    width:370px;
    color: white;
    padding: 20px;
    border: 1px solid gray;
    text-align: left;
}
label{;
    display:inline-block;
    cursor: pointer;

}
input#absender{
    background-color: lightgray;
    padding: 10px;
    position: sticky;
    top: 0%;
    right: 0%;
    resize: vertical;
    box-sizing: border-box;
    height: 20px;
    border: 2px solid gray;
}
textarea{
    width: 7em;
    background-color: lightgray;
}
form p{
    font-size: 10px;
    color: lightgray;
    padding: auto;
   
}

