body{
    width: 800px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    background-image:url("bg.png");
    font-family: sans-serif;
    color: rosybrown;
}
.Boxmodel{
    background-color:rosybrown;
    color: white;
    border: 15px solid white;
    padding: 50px;
    margin: 20px;
}
video{
    width: 50%;
    height: auto;
    text-align: center;
}
.sticky{
    position: fixed;
    overflow: hidden;
    background-color: rosybrown;
    top: 0;
    right: 0;
    width: 30%;
}

.sticky a{
    text-align: center;
    float: right;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.sticky a:hover{
    background: center;
    color: rosybrown;
}
 .Hauptseite{
     font-weight: bolder;
     
}

 .content{
    padding: 16px;
}

.main{
    padding: 16px;
    margin-top: 30px;
    height: 1500px;
    text-align: center;
}

#FormularV{
    padding:2px 10px 2px 5px;
    background-color: lightgray;
    color: white;
    width: 200px;
    text-align: left;
    margin-left: 290px;
}

#FormularN{
    padding:2px 10px 2px 5px;
    background-color: lightgray;
    color: white;
    width: 200px;
    text-align: left;
    margin-left: 290px;
}

#FormularE{
    padding:2px 10px 2px 5px;
    background-color: lightgray;
    color: white;
    width: 200px;
    text-align: left;
    margin-left: 290px;
}
#Formular_Nachricht{
    padding: 2px 10px 0px 5px;
    color: white;
    background-color: lightgray;
    width: 400px;
    height: 50px;
    margin-left: 290px;
    text-align: left;
}
#Datenschutz {
    padding: 5px;
    color: lightgray;

}
button{
    color: white;
    background: lightgray;
    padding: 5px;
       
}
